.box {
  background-color: #15272b;
  height: 70svh;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  width: 100%;
}

.flexBox {
  background-color: #15272b;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  overflow-y: scroll;
}

.scroll {
  scrollbar-width: none;
}