@use "../../mixins";

.box {
  width: 70%;
  // max-height: 82px;
  border: 2px solid #8BC4AD;
  display: flex;
  justify-content: space-between;
  align-items: center;
  // position: absolute;
  border-radius: 22px;
  word-wrap: break-word;
  white-space: normal;
  word-break: normal;
  // bottom: 20px;
}

.bigBox {
  display: flex;
  width: 95%;
  justify-content: space-between;
  position: absolute;
  left: 20px;
  bottom: 20px;
}

.inputField {
  all: unset;
  width: 80%;
  padding-left: 1%;
  // padding-top: %;
  text-align: left;
  font-size: 20px;
}

.inputField::placeholder {
  color: #8BC4AD;
}


// warning also exists in the global.scss may one of them should be deleted
.warning {
  color: #FF7676;
}

.border {
  border: 4px solid #FF7676;
}

.border input::placeholder {
  color: #FF7676;
}

.box2 {
  all: unset;
  background-color: #325F58;
  height: 8vh;
  border-top-right-radius: 18px;
  border-bottom-right-radius: 18px;
  padding-left: 2%;
  padding-right: 2%;
  cursor: pointer;
}

.resetBox {
  
}

.resetBox2 {
  width: 79px;
  height: 79px;
  background-color: #325F58;
  border-radius: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 5%;
}