.box {
  width: 80%;
  // max-height: 82px;
  border: 2px solid #8BC4AD;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  border-radius: 22px;
  word-wrap: break-word;
  white-space: normal;
  word-break: normal;
  position: absolute;
  bottom: 20px;
}

.inpt {
  // background-color: #325F58;
  // border-radius: 22px;
  // width: 100%;
  // height: 80px;
  // display: flex;
  // justify-content: center;
  // align-items: center;
  // font-weight: bold;
  // font-size: 30px;
  // text-align: start;
  // word-wrap: break-word;
  // word-break: normal;
}

.inputField {
  all: unset;
  width: 80%;
  padding-left: 1%;
  padding-top: 2%;
  // word-wrap: break-word;
  // white-space: normal;
  // height: 40%;
  text-align: left;
  font-size: 20px;
}

.inputField::placeholder {
  color: #8BC4AD;
  // padding-top: 0.8rem;
  // padding-left: 0%;
  // text-align: center;
}


// warning also exists in the global.scss may one of them should be deleted
.warning {
  color: #FF7676;
}

.border {
  border: 4px solid #FF7676;
}

.border input::placeholder {
  color: #FF7676;
}

.box2 {
  all: unset;
  background-color: #325F58;
  height: 10vh;
  // border-radius: 22px;
  border-top-right-radius: 22px;
  border-bottom-right-radius: 22px;
  padding-left: 2%;
  padding-right: 2%;
}