.back {
  background-color: #E3EBB2;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon {
  display: none;
  all: unset;
  background-image: url('../../assets/img/fb.svg');
  width: fit-content;
  height: fit-content;
  background-repeat: no-repeat;
}