.box {
  position: absolute;
  left: 0;
  top: 0;
  background-color: #8BC4AD;
  width: 80%;
  height: 100%;
  padding-left: 10%;
  padding-right: 10%;
  z-index: 1;
}

.item {
  margin-top: 5%;
  display: flex;
  justify-content: space-between;
}

.back {
  width: 30%;
  display: flex;
  justify-content: end;
  align-items: center;
}

.emailBox {
  height: 100%;
}

.email {
  display: flex;
  flex-direction: column;
  justify-content: end;
  height: 40%;
  align-items: start;

  &__text {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #15272B;
    border-radius: 5px;
    width: 30vw;
  }
}

.picBox {
  position: absolute;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #15272B;
  padding-top: 5%;
  padding-bottom: 5%;
}

.backButtonBox {
  display: flex;
  justify-content: center;
  align-items: center;
}

.polygonBox {
  padding-left: 10%;
}

.pic {
  width: 40vw;
}