.text {
  color: #15272B;
}

.box {
  position: absolute;
  top: 40%;
  left: 0;
  right: 50%;
  border: 2px solid black;
  padding: 20px;
  cursor: pointer;
  width: 50%;
  transform: translateX(50%);
}