.mb-36 {
  margin-bottom: 36px;
}

.mb-40 {
  margin-bottom: 40px;
}

.mt-40 {
  margin-top: 40px;
}

.mainText {
  color: #8BC4AD;
  font-family: Jura;
  text-transform: uppercase;
  text-align: center;
}

.warning {
  color: #FF7676;
}

.global-container {
  background-color: #15272b;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.global-box {
  min-width: 320px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.global-text-block {
  max-width: 600px;
  // position: relative;
}