html, body {
  height: 100dvh;
  // margin: 0;
  // box-sizing: border-box;
  // background-color: #15272b;
}

// code {
//   font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
//     monospace;
// }

@font-face {
  font-family: "Jura";
  src: local("Jura"), url("./assets/fonts/Jura-VariableFont_wght.ttf") format("opentype");
}
