.messageBox {
  background-color: #15272b;
  border-radius: 22px;
  width: 366px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 22px;
  cursor: pointer;
  position: absolute;
  box-shadow: 4px 2px 2px #8BC4AD;
  color: #8BC4AD;
  font-family: Jura;
  text-transform: uppercase;
  border: 2px solid #8BC4AD;
  text-align: center;
}